@model MarcXMLParser.Models.Dict
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MARC_XML</h4>
    <p>U rječnik se spremaju podatci tako da se za ključ koji je jednak oznaci xml elementa i vrijednosti tag atributa (npr za element datafield s tagom 040 ključ će biti datafield040). Pod tim ključem se spremaju sve vrijednosti potpolja tako da se svaka vrijednost odvoji s $ znakom i vrijednosti atributa code.</p>
    <hr />
    @foreach(var el in Model.Dictionary)
    {
        <pre>@el.Key -> @el.Value</pre>
    }
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
